<div class="container my-3">
  <div class="row">
    <div class="col col-sm-10 col-lg-8 mx-auto">
      <div class="card border-0 z-depth-1" role="alert">
        <div class="card-header">
          <h3 class="mb-0 text-success">
            {{entypo-icon "thumbs-up"}} Logging you in
          </h3>
        </div>
        <div class="card-body">
          <h4 class="card-title">Please wait...</h4>
        </div>
      </div>
    </div>
  </div>
</div>
