@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Lora:400,400i");

// Bootstrap theme
@import "bootstrap";
@import "ember-power-select";
@import "buttons";
@import "spin";

body {
  .transitioning {
    // Showing progress cursor when transitioning/loading.
    cursor: progress;
  }
}

// Fix issue with double select dropdown icons.
// @todo Remove once autoprefixer is enabled.
.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

// The notifications container.
.notifications {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1080;
  max-width: 400px;

  .alert {
    opacity: 0;
    position: relative;
    left: 100px;

    transition: all 500ms cubic-bezier(.68, -.55, .265, 1.55);

    .progress {
      position: absolute;
      bottom: -$alert-border-width;
      left: -$alert-border-width;
      right: -$alert-border-width;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: rgba(233, 236, 239, .5);
      box-shadow: none;
      height: $alert-border-radius;
    }

    .progress-bar {
      width: 0%;
      transition-timing-function: linear;
    }

    &.active {
      opacity: 1;
      left: 0;

      &.exiting {
        opacity: 0;
        left: 100px;
      }

      .progress-bar {
        width: 100%;
      }
    }
  }
}

// Add shadow to primary nav header.
.application-header {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .18);
}

// Primary (org) and secondary (app) navs.
.navbar {
  &--primary {
    background-color: $blue-800;
    padding: 0.75rem 1rem;
  }

  &--secondary {
    background-color: $white;
  }
}

// Floating create button
.btn-create {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .21), 0 1px 3px rgba(0, 0, 0, .18);

  &:focus {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .2), 0 3px 6px rgba(0, 0, 0, .18);
  }
}

// Floating footer controls (left + right)
.footer-controls {
  position: fixed;
  bottom: 1.5rem;
  z-index: 110;

  &.left {
    left: 1.5rem;
  }

  &.right {
    right: 1.5rem;
  }
}

.icon {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.icon-100px svg {
  height:100px
}

.icon-lg {
  width: 100px;
  height: 100px;
}

.icon-md {
  width: 50px;
  height: 50px;
}

.icon-sm {
  width: 20px;
  height: 20px;
}
