<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 text-center">
        <img src={{model.photoURL}} alt={{model.name}} class="icon icon-lg mr-4">
      </div>
      <div class="col">
        <h1>{{model.name}}</h1>
        <small class="text-muted">
          {{model.description}}
        </small>
      </div>
    </div>
  </div>
</div>
