
{{#if this.showIcons}}
  {{#if this.isLoading}}
    <EntypoIcon @name="hour-glass" />
  {{else if this.isConfirming}}
    <EntypoIcon @name="warning" />
  {{else}}
    <EntypoIcon @name={{this.icon}} />
  {{/if}}
{{/if}}

{{#if this.showLabel}}
  <span>{{this.buttonLabel}}</span>
{{/if}}
