{{ log app }}
<div class="card-body">
  <div class="row">
    <div class="col">
      {{!-- <button title="Configure application" class="float-right btn btn-sm btn-link">
        {{entypo-icon "cog"}}
      </button> --}}
      <h1>{{application.name}}</h1>
      <small class="text-muted">
        {{application.description}}
      </small>
    </div>
  </div>
</div>
