{{#link-to "manage.orgs" class="navbar-brand"}}Identity<span class="text-dark">X</span>{{/link-to}}

<ul class="navbar-nav mr-auto">
  {{#if organization.id}}
    <li class="nav-item">
      {{#link-to "manage.orgs.org.users" organization.id class="nav-link"}}
        Users
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "manage.orgs.org.apps" organization.id class="nav-link"}}
        Applications
      {{/link-to}}
    </li>
  {{/if}}
</ul>

<ul class="navbar-nav ml-auto">
  <NavContextOrg
    @organization={{organization}}
    @organizations={{organizations}}
  />

  <li class="nav-item">
    <a
      href="https://as3.gitbook.io/identity-x"
      title="Application Documentation"
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{entypo-icon "text-document"}} <span class="d-none d-md-inline">Documentation</span>
    </a>
  </li>

  <NavContextUser />

</ul>
