{{#link-to "manage.orgs" class="navbar-brand"}}Identity<span class="text-dark">X</span>{{/link-to}}

<ul class="navbar-nav mr-auto">
  {{#each links as |link|}}
    <li class="nav-item">
      {{#link-to link.route orgId class="nav-link"}}
        {{link.text}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

<ul class="navbar-nav ml-auto">
  <NavContextOrg
    @orgId={{orgId}}
    @organizations={{organizations}}
  />

  <li class="nav-item">
    <a
      href="https://as3.gitbook.io/identity-x"
      title="Application Documentation"
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{entypo-icon "text-document"}} <span class="d-none d-md-inline">Documentation</span>
    </a>
  </li>

  <NavContextUser />

</ul>
