<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
    {{#if appName}}
      {{appName}}
    {{else}}
      Select application
    {{/if}}
  </a>

  <div class="dropdown-menu dropdown-menu-right">
    {{#each applications as |app|}}
      {{#link-to "manage.orgs.org.apps.app" app.id class="dropdown-item dropdown-item d-flex"}}
        {{app.name}}
      {{/link-to}}
    {{/each}}
  </div>
</li>
