<ul class="navbar-nav mr-auto">
  {{#each links as |link|}}
    <li class="nav-item">
      {{#link-to link.route appId class="nav-link"}}
        {{link.text}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

<ul class="navbar-nav ml-auto">
  <NavContextApp @appId={{appId}} @applications={{applications}} />
</ul>
