{{#link-to "manage" class="navbar-brand"}}Identity<span class="text-dark">X</span>{{/link-to}}

<ul class="navbar-nav mr-auto">
  {{#if user.isAuthenticated}}
    {{!-- {{#link-to "manage.organizations" tagName="li" class="nav-item" title="Organizations"}}
      {{#link-to "manage.organizations" class="nav-link"}}Organizations{{/link-to}}
    {{/link-to}} --}}
  {{/if}}
</ul>

<NavUser />
