{{#if show}}
  <div
    class="progress-bar progress-bar-striped bg-primary progress-bar-animated w-100"
    role="progressbar"
    aria-valuenow="100"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
{{/if}}
