<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title">Access Levels</h2>
    <p class="card-text">Manage your applications's access levels.</p>
    <div class="list-group mb-3">
      {{#link-to "manage.orgs.org.apps.app.access-levels.create" class="list-group-item list-group-item-action list-group-item-secondary"}}
        {{entypo-icon "circle-with-plus"}} New access level
      {{/link-to}}
      {{#each model as |level|}}
        {{#link-to "manage.orgs.org.apps.app.access-levels.edit" level.id class="list-group-item list-group-item-action"}}
          {{ level.name }}
          <small class="text-muted">{{level.description}}</small>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

{{outlet}}
