<h1 class="mb-4">
  <AccessLevel::Icon /> Access Levels
  <span class="text-muted">({{format-number this.model.totalCount "0,0"}})</span>
</h1>

<div class="row">
  {{#each this.model.edges as |edge|}}
    <AccessLevel::Card @accessLevel={{edge.node}} />
  {{else}}
    <div class="col">
      <p>No access levels were found.</p>
    </div>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.view.access-levels.create" @title="Create New Access Level" />
</aside>

{{outlet}}
