<h1 class="mb-4">{{model.name}}</h1>

<div class="row">
  <ListCard>
    {{#link-to "manage.orgs.view.apps.view.access-levels"}}
      <div class="card-body">
        <h2 class="card-title"><AccessLevel::Icon /> Access Levels</h2>
        <p class="card-text">
          Manage access levels for content gating. These can be applied to your app's users and teams.
        </p>
      </div>
    {{/link-to}}
  </ListCard>

  <ListCard>
    {{#link-to "manage.orgs.view.apps.view.teams"}}
      <div class="card-body">
        <h2 class="card-title"><Team::Icon /> Teams</h2>
        <p class="card-text">
          Manage your app's teams. Teams allow access for users based on direct membership, email address domain, or an accessing IP address.
        </p>
      </div>
    {{/link-to}}
  </ListCard>

  <ListCard>
    {{#link-to "manage.orgs.view.apps.view.users"}}
      <div class="card-body">
        <h2 class="card-title"><AppUser::Icon /> Users</h2>
        <p class="card-text">
          Manage your app's users. Create new users or modify an existing user's teams and/or access levels.
        </p>
      </div>
    {{/link-to}}
  </ListCard>

  <ListCard>
    {{#link-to "manage.orgs.view.apps.view.fields"}}
      <div class="card-body">
        <h2 class="card-title"><CustomField::Icon /> Custom Fields</h2>
        <p class="card-text">
          Create and modify custom questions and answers that can be displayed on various forms within your app.
        </p>
      </div>
    {{/link-to}}
  </ListCard>

  <ListCard>
    {{#link-to "manage.orgs.view.apps.view.comments"}}
      <div class="card-body">
        <h2 class="card-title"><Comment::Icon /> Comments</h2>
        <p class="card-text">
          Manage your app's comments. Moderate posts, manage comment streams and control user shadow-ban settings.
        </p>
      </div>
    {{/link-to}}
  </ListCard>
</div>
