<h1 class="mb-4"><Team::Icon /> Teams</h1>

<div class="row">
  {{#each model as |team|}}
    <Team::Card @team={{team}} />
  {{else}}
    <div class="col">
      <p>No teams have been created.</p>
    </div>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.view.teams.create" @title="Create New Team" />
</aside>

{{outlet}}
