<h1 class="mb-4">
  <Team::Icon /> Teams
  <span class="text-muted">({{model.totalCount}})</span>
</h1>

<div class="row">
  {{#each model.edges as |edge|}}
    <Team::Card @team={{edge.node}} />
  {{else}}
    <div class="col">
      <p>No teams have been created.</p>
    </div>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.view.teams.create" @title="Create New Team" />
</aside>

{{outlet}}
