<h1 class="mb-4">
  <AppUser::Icon /> Users
  <span class="text-muted">({{format-number this.model.totalCount "0,0"}})</span>
</h1>

<div class="row">
  {{#each this.model.edges as |edge|}}
    <AppUser::Card @user={{edge.node}} />
  {{else}}
    <div class="col">
      <p>No users were found.</p>
    </div>
  {{/each}}
</div>

<aside class="footer-controls left">
  <Button::Create @routeName="manage.orgs.view.apps.view.users.create" @title="Create New User" />
</aside>

{{outlet}}
