
<div class="container mt-5">
  <OrganizationHeader @organization={{model.activeOrganization}} />
  <OrganizationMembers @members={{model.organizationUsers}} />
  <OrganizationInvitations @invitations={{model.organizationInvitations}}  @organization={{model.activeOrganization}} />
</div>
