{{#link-to "manage.orgs" class="navbar-brand"}}Identity<span class="text-primary">X</span>{{/link-to}}

<ul class="navbar-nav mr-auto">
  {{#if session.isAuthenticated}}
    <NavBar::OrgDropdown />

    {{#if context.orgId}}
      <li class="nav-item">
        {{#link-to "manage.orgs.view.apps.list" context.orgId class="nav-link"}}
          <NavBar::Item @icon="browser">Applications</NavBar::Item>
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "manage.orgs.view.users" context.orgId class="nav-link"}}
          <NavBar::Item @icon="users">Users</NavBar::Item>
        {{/link-to}}
      </li>
    {{/if}}
  {{/if}}
</ul>

<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a
      href="https://as3.gitbook.io/identity-x"
      title="IdentityX Documentation"
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <NavBar::Item @icon="text-document">Documentation</NavBar::Item>
    </a>
  </li>

  {{#if session.isAuthenticated}}
    <NavBar::UserDropdown />
  {{else}}
    <li class="nav-item">
      {{#link-to "login" class="nav-link" title="Sign into IdentityX"}}
        <NavBar::Item @icon="login">Sign In</NavBar::Item>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "signup" class="nav-link" title="Create new user account"}}
        <NavBar::Item @icon="add-user">Sign Up</NavBar::Item>
      {{/link-to}}
    </li>
  {{/if}}
</ul>
