{{#link-to "manage.orgs" class="navbar-brand"}}Identity<span class="text-primary">X</span>{{/link-to}}

<ul class="navbar-nav mr-auto">
  {{#if user.isAuthenticated}}
    <NavBar::OrgDropdown />
  {{/if}}

  {{#each links as |link|}}
    <li class="nav-item">
      {{#link-to link.route context.orgId class="nav-link"}}
        {{link.text}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a
      href="https://as3.gitbook.io/identity-x"
      title="IdentityX Documentation"
      class="nav-link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <NavBar::Item @icon="text-document">Documentation</NavBar::Item>
    </a>
  </li>

  <NavContextUser />

</ul>
