<ul class="navbar-nav mr-auto">
  <NavBar::AppDropdown />

  {{#each links as |link|}}
    <li class="nav-item">
      {{#link-to link.route context.appId class="nav-link"}}
        <NavBar::Item @icon={{link.icon}}>
          {{link.text}}
        </NavBar::Item>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
