<ul class="navbar-nav mr-auto">
  <NavBar::AppDropdown />

  {{#each links as |link|}}
    <li class="nav-item">
      {{#link-to link.route context.appId class="nav-link"}}
        {{link.text}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
