<ul class="navbar-nav mr-auto">
  <NavBar::AppDropdown />

  {{#if context.appId}}
    <li class="nav-item">
      {{#link-to "manage.orgs.view.apps.view.access-levels" context.appId class="nav-link"}}
        <NavBar::Item @icon="shield">Access Levels</NavBar::Item>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "manage.orgs.view.apps.view.teams" context.appId class="nav-link"}}
        <NavBar::Item @icon="slideshare">Teams</NavBar::Item>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "manage.orgs.view.apps.view.users" context.appId class="nav-link"}}
        <NavBar::Item @icon="man">Users</NavBar::Item>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "manage.orgs.view.apps.view.fields" context.appId class="nav-link"}}
        <NavBar::Item @icon="list">Custom Fields</NavBar::Item>
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "manage.orgs.view.apps.view.comments" context.appId class="nav-link"}}
        <NavBar::Item @icon="message">Comments</NavBar::Item>
      {{/link-to}}
    </li>
  {{/if}}
</ul>

<NavBar::Loading />
