{{#link-to "manage.orgs.view.settings.regional-consent.edit" policy.id class="list-group-item list-group-item-action"}}
  <h4 class="mb-1">{{policy.name}}</h4>
  <p class="small mb-1">Countries: {{countries}}</p>
  <p class="small mb-0">Enabled: {{policy.enabled}}</p>
  <p class="small mb-0">Required: {{policy.required}}</p>
{{/link-to}}
